<!DOCTYPE html>
<html>

<head>
    <title>SeaweedFS {{ .Version }}</title>
    <link rel="stylesheet" href="/seaweedfsstatic/bootstrap/3.3.1/css/bootstrap.min.css">
    <script type="text/javascript" src="/seaweedfsstatic/javascript/jquery-3.6.0.min.js"></script>
    <script type="text/javascript"
        src="/seaweedfsstatic/javascript/jquery-sparklines/2.1.2/jquery.sparkline.min.js"></script>
    <script type="text/javascript">
        $(function () {
            var periods = ['second', 'minute', 'hour', 'day'];
            for (i = 0; i < periods.length; i++) {
                var period = periods[i];
                $('.inlinesparkline-' + period).sparkline('html', {
                    type: 'line',
                    barColor: 'red',
                    tooltipSuffix: ' 请求 / ' + period,
                });
            }
        });
    </script>
    <style>
        #jqstooltip {
            height: 28px !important;
            width: 150px !important;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="page-header">
            <h1>
                <a href="https://github.com/seaweedfs/seaweedfs"><img src="/seaweedfsstatic/seaweed50x50.png"></img></a>
                SeaweedFS <small>{{ .Version }}</small>
            </h1>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <h2>磁盘统计</h2>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>路径</th>
                            <th>磁盘</th>
                            <th>总计</th>
                            <th>空闲</th>
                            <th>使用率</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{ range .DiskStatuses }}
                        <tr>
                            <td>{{ .Dir }}</td>
                            <td>{{ .DiskType }}</td>
                            <td>{{ bytesToHumanReadable .All }}</td>
                            <td>{{ bytesToHumanReadable .Free }}</td>
                            <td>{{ percentFrom .All .Used}}%</td>
                        </tr>
                        {{ end }}
                    </tbody>
                </table>
            </div>

            <div class="col-sm-6">
                <h2>系统统计</h2>
                <table class="table table-condensed table-striped">
                    <tr>
                        <th>master</th>
                        <td>{{.Masters}}</td>
                    </tr>
                    <tr>
                        <th>每周读请求数</th>
                        <td><span class="inlinesparkline-day">{{ .Counters.ReadRequests.WeekCounter.ToList | join
                                }}</span>
                        </td>
                    </tr>
                    <tr>
                        <th>每日读请求数</th>
                        <td><span class="inlinesparkline-hour">{{ .Counters.ReadRequests.DayCounter.ToList | join
                                }}</span>
                        </td>
                    </tr>
                    <tr>
                        <th>每小时读请求数</th>
                        <td><span class="inlinesparkline-minute">{{ .Counters.ReadRequests.HourCounter.ToList | join
                                }}</span>
                        </td>
                    </tr>
                    <tr>
                        <th>最近一分钟读请求数</th>
                        <td><span class="inlinesparkline-second">{{ .Counters.ReadRequests.MinuteCounter.ToList | join
                                }}</span>
                        </td>
                    </tr>
                    {{ range $key, $val := .Stats }}
                    <tr>
                        <th>{{ $key }}</th>
                        <td>{{ $val }}</td>
                    </tr>
                    {{ end }}
                </table>
            </div>
        </div>

        <div class="row">
            <h2>卷</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>集合</th>
                        <th>磁盘</th>
                        <th>数据大小</th>
                        <th>文件数</th>
                        <th>回收站</th>
                        <th>TTL</th>
                        <th>只读</th>
                        <th>版本</th>
                    </tr>
                </thead>
                <tbody>
                    {{ range .Volumes }}
                    <tr>
                        <td><code>{{ .Id }}</code></td>
                        <td>{{ .Collection }}</td>
                        <td>{{ .DiskType }}</td>
                        <td>{{ bytesToHumanReadable .Size }}</td>
                        <td>{{ .FileCount }}</td>
                        <td>{{ .DeleteCount }} / {{bytesToHumanReadable .DeletedByteCount}}</td>
                        <td>{{ .Ttl }}</td>
                        <td>{{ .ReadOnly }}</td>
                        <td>{{ .Version }}</td>
                    </tr>
                    {{ end }}
                </tbody>
            </table>
        </div>

        {{ if isNotEmpty .RemoteVolumes }}
        <div class="row">
            <h2>远端卷</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>集合</th>
                        <th>大小</th>
                        <th>文件数</th>
                        <th>回收站</th>
                        <th>远端</th>
                        <th>Key</th>
                    </tr>
                </thead>
                <tbody>
                    {{ range .RemoteVolumes }}
                    <tr>
                        <td><code>{{ .Id }}</code></td>
                        <td>{{ .Collection }}</td>
                        <td>{{ bytesToHumanReadable .Size }}</td>
                        <td>{{ .FileCount }}</td>
                        <td>{{ .DeleteCount }} / {{bytesToHumanReadable .DeletedByteCount}}</td>
                        <td>{{ .RemoteStorageName }}</td>
                        <td>{{ .RemoteStorageKey }}</td>
                    </tr>
                    {{ end }}
                </tbody>
            </table>
        </div>
        {{ end }}

        {{ if isNotEmpty .EcVolumes }}
        <div class="row">
            <h2>EC 分片</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>集合</th>
                        <th>总大小</th>
                        <th>分片详情</th>
                        <th>创建时间</th>
                    </tr>
                </thead>
                <tbody>
                    {{ range .EcVolumes }}
                    <tr>
                        <td><code>{{ .VolumeId }}</code></td>
                        <td>{{ .Collection }}</td>
                        <td>{{ bytesToHumanReadable .Size }}</td>
                        <td>
                            {{ range .Shards }}
                            <span class="label label-info" style="margin-right: 5px;">
                                {{ .ShardId }}: {{ bytesToHumanReadable .Size }}
                            </span>
                            {{ end }}
                        </td>
                        <td>{{ .CreatedAt.Format "2006-01-02 15:04" }}</td>
                    </tr>
                    {{ end }}
                </tbody>
            </table>
        </div>
        {{ end }}
    </div>
</body>

</html>
